name: Release Agent (tags -> Docker Hub + GHCR)

on:
  push:
    tags: ["v*"]
  workflow_dispatch:

jobs:
  release-agent:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    env:
      DOCKERHUB_IMAGE: licenseguard/license-guard
      GHCR_IMAGE: ghcr.io/cassiama/license-guard
      VERSION: ${{ github.ref_name }}

    steps:
      - uses: actions/checkout@v4

      - name: Check required secrets
        run: |
          for v in DOCKERHUB_TOKEN GITHUB_TOKEN; do
            if [ -z "${!v}" ]; then
              echo "âŒ Missing $v"
              exit 1
            fi
          done
        env:
          DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3

      - id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.DOCKERHUB_IMAGE }}
            ${{ env.GHCR_IMAGE }}
          tags: |
            # TAGS AS mcp-v1.0.0
            type=raw,value=mcp-${{ env.VERSION }}
          labels: |
            org.opencontainers.image.source=https://github.com/${{ github.repository }}

      - name: Fix build timestamps
        run: echo "SOURCE_DATE_EPOCH=$(git log -1 --pretty=%ct)" >> $GITHUB_ENV

      - id: build
        uses: docker/build-push-action@v6
        with:
          context: ./agent 
          file: ./agent/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          provenance: mode=max
          sbom: true

      - uses: actions/attest-build-provenance@v2
        with:
          subject-name: index.docker.io/${{ env.DOCKERHUB_IMAGE }}
          subject-digest: ${{ steps.build.outputs.digest }}
          push-to-registry: true
      - uses: actions/attest-build-provenance@v2
        with:
          subject-name: ${{ env.GHCR_IMAGE }}
          subject-digest: ${{ steps.build.outputs.digest }}
          push-to-registry: true